.container
  -# %h1 ユーザー詳細ページ
  .top_content
    .top_content_left
      %a{:href => "/users/#{@user.id}"}
        = image_tag @user.image.to_s, size: "130x130", alt: "pic",class: 'image_user'
    .top_content_right
      %h4=@user.name
    
  %h4 投稿内容
  .inline-d
    - @user.posts.each do |post|
      %a{:href => "/posts/#{post.id}"}= image_tag post.image.to_s , size: "150x150", alt: "test",class: 'image'
  %hr/
  %h4 いいねしている投稿
  .inline-d
    - @user.liked_posts.each do |post|
      .inline-div
        %a{:href => "/users/#{post.user.id}"}
          = image_tag post.user.image.to_s, size: "30x30", alt: "pic",class: 'image_user'
        -# = post.content
        .div
          %a{:href => "/posts/#{post.id}"}= image_tag post.image.to_s , size: "150x150", alt: "test",class: 'image'
  %hr
  = link_to "ユーザー一覧へ", users_path
  = link_to "ホームへ戻る", posts_path
