
%header
  - if user_signed_in?
    .logo Lunch500
    = link_to "ログアウト", destroy_user_session_path, :method => :delete ,class: 'btn btn-primary'
    = link_to "マイページへ", user_path(current_user.id)
    = link_to "ユーザー一覧へ", users_path
    %h2 投稿する
    = form_for @post do |f|
      = f.text_field :content
      = f.file_field :image
      = f.submit
    %hr/
  - else
    = link_to "ユーザー登録", new_user_registration_path
    = link_to "ログイン", new_user_session_path

.main
  %h2 投稿一覧
  - @posts.each do |post|
    %a{:href => "/users/#{post.user.id}"}= post.user.email
    %a{:href => "/posts/#{post.id}"}= post.content
    %a{:href => "/posts/#{post.id}"}= image_tag post.image.to_s, size: "100x100", alt: "test"
    (#{post.liked_users.count})

  