.container.field.image
  = form_for @post do |f|
    %form
      .form-group
        .div
          = f.label 'ランチの画像を選択してください'
        #img_field{:onclick => "$('#file').click()"}
          - if @post.image.url.present?
            = image_tag(@post.image.url)
          - else
            %i.fas.fa-image
            %i.fas.fa-file-upload.add
        = f.file_field :image ,class:'form-control image',style:"display:none;", id: "file"

      .form-group.col-md-5.mx-auto
        = f.label :タイトル
        = f.text_field :title ,class:'form-control'
      .form-group.col-md-5.mx-auto
        -# = f.fields_for :category do |d|
        = f.label :カテゴリ
        = f.collection_select :category_id ,Category.all, :id, :name , class:'form-control'
      .form-group.col-md-5.mx-auto
        = f.label :内容
        = f.text_area :content ,class:'form-control'
      .form-group.col-md-5.mx-auto
        = f.label :住所
        = f.text_field :address ,class:'form-control',placeholder:'ex)渋谷 マクドナルド 道玄坂店'
      = f.submit