%h1 Detail
.content
  .content-head
    %a{:href => "/users/#{@post.user.id}"}
      = image_tag @post.user.image.to_s, size: "50x50", alt: "pic",class: 'image_user'
    =@post.user.name
    .iine__content
      いいね件数: #{@post.likes.count}
    - if current_user.already_liked?(@post)
      = button_to post_like_path(@post), method: :delete do
        %i.fas.fa-heart
    - else
      = button_to post_likes_path(@post) do
        %i.far.fa-heart
      -# = link_to 'iine',post_likes_path(@post)
  = image_tag @post.image.to_s, size: "400x400", alt: "test",class: 'post__image'
  .text-content
    .col-md-9{style:'margin:0 auto;'}
      %table.table.table-bordered
        %tr
          %td
            タイトル
          %th
            = @post.title
        %tr
          %td
            内容
          %th
            = @post.content
        %tr
          %td
            キーワード
          %th
            = @post.address
  .iine
    いいねしたユーザー
  - @post.liked_users.each do |user|
    = image_tag user.image.to_s, size: "50x50", alt: "test",class: 'image_user'
  .div
    %iframe{:src => "https://maps.google.co.jp/maps?output=embed&q=#{@post.latitude},#{@post.longitude}"}
  .div
    = link_to "ここへ行く","https://www.google.com/maps/dir/現在地/#{@post.latitude},#{@post.longitude}",class:'btn btn-default btn-default-add'
    = link_to "ホームへ戻る", posts_path,class:'btn btn-default btn-default-add'
    = link_to "削除する",post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }
    
%br
.content
  .container
  - if current_user
    = form_with(model: [@post, @comment], local: true) do |form|
      = form.text_area :text, placeholder: "コメントする", rows: "3",cols:"40"
      = form.submit "SEND",class: 'btn btn-primary top'
  - else
    %strong
      %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  
  .comments
  %h4 ＜コメント一覧＞
  - if @comments
    - @comments.each do |comment|
      .flex-box
        .comments__user
          %a{:href => "/users/#{@post.user.id}"}
            = image_tag @post.user.image.to_s, size: "30x30", alt: "pic",class: 'image_user'
          = link_to comment.user.name,"/users/#{comment.user_id}"
        .comments__comment
          = comment.text
  