- if user_signed_in?
  .logo
    = link_to posts_path do
      =image_tag 'lunch500.png', alt: 'Rails icon', class: 'img', size: "150x60"
      =image_tag 'p-lunch500.png', alt: 'Rails icon', class: 'img',size:'220x220'
  .search
    = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
  

  = link_to "index" ,users_path, class: 'btn btn-default btn-default-add'
  = link_to post_index_rank_path ,class: 'btn btn-default btn-default-add'do
    %i.fas.fa-crown
      rank
  -# = link_to "編集", edit_user_registration_path(params[:id])
  = link_to "投稿する", new_post_path(params[:id]),class: 'btn btn-default btn-default-add'
  = link_to destroy_user_session_path, :method => :delete ,class: 'btn btn-default btn-default-add' do
    %i.fas.fa-sign-out-alt
      SignOut
  = link_to user_path(current_user.id) ,class: '' do
    = image_tag current_user.image.to_s, size: "50x50", alt: "test",class: 'mypage-image'
  
  -# %h2 投稿する
  -# = form_for @post do |f|
  -#   = f.text_field :content
  -#   = f.file_field :image
  -#   = f.submit
- else
  .logo 
    = image_tag src="/assets/lunch500.png", size: "150x60"
  = link_to "ユーザー登録", new_user_registration_path,class: 'btn btn-default btn-default-add'
  = link_to "ログイン", new_user_session_path,class: 'btn btn-default btn-default-add'