!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = Gon::Base.render_data
    %title Lunch500
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap", :rel => "stylesheet"}/
  %body
    %header
      = render partial: "shere/header"
    .under-header
    = yield
